sphinx
sphinx_rtd_theme
myst_parser

cryptography>=2.2.2
PyYAML
fabric
path.py
jinja2
six
attrs>=17.3
click
docker
kubernetes>=5.0.0
google-cloud
termcolor
pyperclip
cloudpickle
neptune>=1.0.0
munch
gin-config
gitignore_parser
